<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css">


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Highcharts Example</title>

    <style type="text/css">

    </style>

    <title></title>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Sentiment Analysis</a>

</nav>




<div class="jumbotron jumbotron-fluid">

            <main role="main" class="container">

              <div class="row">
                <div class="col-md-8">
                     <div class="content-section">
                        <form action="index.htm">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Enter your Text Here</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Text">
                          </div>
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Select PDF File </label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlFile1">Select Text File </label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlFile1">Select CSV File </label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                          <button type="submit" class="btn btn-primary">Analyse</button>
                        </form>
                    </div>
                </div>




                <div class="col-md-4">
                  <div class="content-section">
                    <h3>Predictions</h3>
                    <p class='text-muted'>So that you never miss an update.
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light"><h1>Positive</h1></li>
                            <li class="list-group-item list-group-item-light"><h2>Confidence : 50%</h2></li>
                          </ul>
                    </p>
                        </div>
                  </div>
                </div>
            </main>

</div>





script src="code/highcharts.js"></script>
<script src="code/modules/exporting.js"></script>
<script src="code/modules/export-data.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">



        <script type="text/javascript">
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Column chart with negative values'
    },
    xAxis: {
        categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'John',
        data: [5]
    },
    {
        name: 'Jane',
        data: [-2]
    },
    {
        name: 'Joe',
        data: [3]
    },
    {
        name: 'John',
        data: [5]
    },
    {
        name: 'Jane',
        data: [-2]
    },
    {
        name: 'Joe',
        data: [3]
    },
    {
        name: 'John',
        data: [5]
    },
    {
        name: 'Jane',
        data: [-2]
    },
    {
        name: 'Joe',
        data: [3]
    },
    {
        name: 'John',
        data: [5]
    },
    {
        name: 'Jane',
        data: [-2]
    },
    {
        name: 'Joe',
        data: [3]
    }]
});
        </script>

</div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
